* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: $font-family-sans-serif;
    color: $font-color-base;
    background: $body-bg;
    padding-top: 65px;
}

a {
    text-decoration: none;
}

.inner--icon, .inner--text {
    display: inline-block;
    vertical-align: middle;
}
