// Body
$body-bg: #f6f5f8;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$font-color-base: rgba(0, 0, 0, 0.87);
$line-height-base: 1.6;

// Variables
$primary-color: #2196F3;
$secondary-color: #00bcd4;


$primary:       $primary-color;
$secondary:     $secondary-color;
