// Variables
@import 'variables';
@import 'reset';
@import "structure";
@import "navbar";
@import "buttons";
@import "welcome-loader";
@import "menu";
@import "typo";
@import "toggles";
@import "modal";
@import "flat";

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/variables";


.ride-list{
    &__item{
        padding: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #ffffff;
    }
}
