// Variables
@import 'variables';
@import "reset";
@import "structure";
@import "navbar";
@import "buttons";
@import "welcome-loader";
@import "menu";

.homepage {
    background-image: url('../img/map.png');
    background-size: cover;
    background-repeat: no-repeat;
}
